*.user
_Re[sS]harper.*/
*.suo
/[pP]ackages/*
!/[pP]packages/repositories.config
build.log
*.nupkg
*.nuspec
*.ncrunch*user
*_ncrunch*
[dD]ebug/
*.feature.cs
*.ncrunchproject
*/*.ncrunchsolution
[bB]in
[oO]bj
*.log
TestResult.xml
output/
*.bak
.vs/
*.jsonl
